.root {
    margin-left: -8px;
}

.post {
    position: relative;
    left: 5px;
    clear: both;
}

.message {
    float: left;
    padding: 15px;
    background-color: #660000;
    color: #ff6600;
    margin-left: 6px;
}

.messageLinkImage {
    border-style: none;
}

.messageContent {
    padding-bottom: 5px;
}

div.row {
  clear: both;
  padding-top: 5px;
}

div.row span.label {
  float: left;
  width: 115px;
  text-align: right;
}

div.row span.formw {
  float: right;
  width: 235px;
  text-align: left;
}

div.row input {
    width: 230px;
    border-color: #ff6600;
}

.replyForm {
    border: 1px solid #ff6600;
    color: #ff6600;
    font-weight: bold;
    padding-bottom: 15px;
    width: 360px;
    margin: 0px auto;
}

.replies {
    font-weight: bold;
}